@font-face {
  font-family: 'FuturaDemiC';
  src: url("/assets/FuturaDemiC/FuturaDemiC.eot") format("eot");
  src: url("/assets/FuturaDemiC/FuturaDemiC.ttf"), format("ttf"), url("/assets/FuturaDemiC/FuturaDemiC.woff"), format("woff"), url("/assets/FuturaDemiC/FuturaDemiC-Italic.eot");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url("/assets/FuturaBookC/FuturaBookC.eot"), format("eot"), url("/assets/FuturaBookC/FuturaBookC.ttf"), format("ttf"), url("/assets/FuturaBookC/FuturaBookC.woff"), format("woff");
  font-weight: normal;
  font-style: normal;
}

/* reset */
body {
  font-family: 'FuturaDemiC','Orbitron', serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  color: #a59797;
  width: 1440px;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

body {
  font-family: 'FuturaDemiC' ,sans-serif, Helvetica;
  font-size: 14px;
}

/* --------------------container ---------------- */
.container {
  max-width: 1440px;
}

/* --------------------------Header--------------------- */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header {
  background-color: #000000;
  background-size: cover;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.36%;
  margin-left: 81px;
}

.logo h1 {
  font-family: 'FuturaDemiC', Arial, Helvetica, serif;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #E3B873;
}

/*=========================================nav==================================*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.36%;
}

.nav a {
  font-family: 'FuturaDemiC', Arial, Helvetica, serif;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  display: block;
  padding: 5px 10px;
  text-transform: uppercase;
}

.homelink {
  color: #E3B873;
  margin-left: 48px;
  padding-left: 0px;
}

.Contactslink {
  margin-right: 25px;
}

/*--------------------------------telephone-----------------------------*/
.telephone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #E3B873;
  display: block;
  font-family: 'FuturaDemiC', Arial, Helvetica, serif;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  margin-top: 0.36%;
  margin-right: 24.5px;
}

.request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  font-family: 'FuturaDemiC';
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  background: #E3B873;
  border-radius: 5px;
  padding: 10px 33px;
  margin-top: 9px;
  margin-right: 75px;
}

/*-----------------------main-body---------------------*/
.main {
  background-color: #000000;
  background-size: cover;
}

.instagram {
  position: absolute;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-top: 310px;
  margin-left: 10px;
}

.instagram a {
  font-family: 'FuturaDemiC', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #E3B873;
}

.main-image {
  position: flex;
  margin-left: 5.8%;
  padding-top: 22px;
}
/*# sourceMappingURL=style.css.map */